################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp15/FileContentIndex
/.vs/ConsoleApp15/DesignTimeBuild
